<template>
    <div class="body-d">
        <div class="row d-flex justify-content-center cont mx-1 ">

            <h1>Error</h1>

        </div>
        <div class="row d-flex justify-content-center mx-1">
            <p>No te has logueado.</p>
        </div>
        <div class="row d-flex justify-content-center mx-1">        
            <router-link to="/" class="hacker-button btn-lista3">OK</router-link>
        </div>
    </div>

</template>

<style scoped>
    .body-d {
        background-color: #000;
        color: #0F0;
        font-family: 'Courier New', monospace;
        text-align: center;

        height: 100vh;
    }
    h1 {
        font-size: 36px;
        color: #0F0;
    }
    p {
        font-size: 24px;
        color: #0F0;
    }
    .hacker-button {
        background-color: #000;
        color: #0F0;
        border: 1px solid #0F0;
        padding: 5px 10px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .hacker-button:hover {
        background-color: #0F0;
        color: #000;
    } 
    .cont{
        padding-top: 15rem;
    }
</style>