<template>
    <div class="login-container">
        <div class="hacker-card">
            <form @submit.prevent="submitForm">
                <h1 class="text-center">Iniciar Sesión</h1>
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" class="form-control" name="username" required v-model="formData.username">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <div class="input-group">
                    <input type="password" class="form-control" name="password" id="password" required v-model="formData.password">
                    </div>
                </div>
                <button type="submit" class="btn btn-login">Iniciar Sesión</button>
                <router-link to="/register" class="hacker-button btn-lista">Registrarse</router-link>
            </form>
        </div>
    </div>
</template>
  
<style scoped>
.login-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
  height: 100vh;
}
.hacker-card {
background-color: #222;
padding: 20px;
border: 4px solid #0F0;
border-radius: 10px;
width: 310px;
}
.hacker-card h1 {
    background-color: #000;
    color: #0F0;
    padding: 10px;
    border-radius: 20px;
}
.form-groups label {
color: #0F0;
display: none;
}
.form-group label {
color: #0F0;
}
.form-control {
background-color: black;
border: 1px solid #0F0;
color: #0F0;
}
.form-controls {
background-color: black;
border: 1px solid #0F0;
color: #0F0;
display: none;
}
.btn-login {
background-color: #0F0;
color: black;
width: 260px;
}
.btn-lista{
  color: #0F0;
  font-size: 14px;
}

</style>

<script>
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
  data() {
    return {
      formData: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    async submitForm() {
      try {
        const response = await axios.post('http://127.0.0.1:8000/api/Logins/', this.formData);
        console.log(response.data)
        console.log(response.data.payload.id)
          const token = response.data.token;
          const id = response.data.payload.id;
          localStorage.setItem('idUser', id);
          localStorage.setItem('token', token);
        if(response.data.status === 403 || response.data.status === 401){
          await Swal.fire({
            title: 'Error de autenticación',
            text: response.data.message,
            icon: 'error',
          }); 
        }else{
          await Swal.fire({
          title: 'Éxito',
          text: response.data.message,
          icon: 'success',
        });
        this.$router.push('/listaTarea');
        }
      } catch (error) {
        await Swal.fire({
          title: 'Error de autenticación',
          text: error.message || 'Ha ocurrido un error durante la autenticación.',
          icon: 'error',
        });
        this.$router.push('/error');
      }
    },
  },
};
</script>