<template>
    <div class="container-d">
        <div class="hacker-card">
            <div class="navbar-a">
                <router-link to="/" class="btn btn-lista1">volver</router-link>
            </div><br>
            <h1>Registro Usuario</h1>
            <form @submit.prevent="crearUser">
                <div class="form-group">
                    <label for="username: ">Nombre:</label><br>
                    <input type="text" class="form-control" name="username" required v-model="formData.username">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label><br>
                    <input type="password" class="form-control" name="password" id="password" required v-model="formData.password">
                </div><br>
                <input type="submit" value="Registrarse" class="button">
            </form>
        </div>
    </div>
</template>

<style scoped>
.container-d {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    height: 100vh;
}
.btn-lista1{
    color: #0F0;
}
.navbar-a{
    border: 1px solid #0F0;
    width: 100px;

}
.hacker-card {
    background-color: #222;
    padding: 20px;
    border: 4px solid #0F0;
    border-radius: 10px;
    width: 340px;
}

.hacker-card h1 {
    background-color: #000;
    font-size: 40px;
    color: #0F0;
    padding: 10px;
    border-radius: 10px;
}
.form-group label {
    font-size: 18px;
    color: #0F0;
}
.form-control {
    background-color: black;
    border: 1px solid #0F0;
    color: #0F0;
}
.button {
    background-color: black;
    color: #0F0;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: 1px solid #0F0;
}
</style>
  
<script>
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
  data() {
    return {
      formData: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    async crearUser() {
      try {
        const response = await axios.post('http://127.0.0.1:8000/api/register/', this.formData);
        console.log(response.data)
        await Swal.fire({
          title: 'Registro exitoso',
          text: response.data.message,
          icon: 'success',
        });
        this.$router.push('/');
      } catch (error) {
        await Swal.fire({
          title: 'Error de Registro',
          text: error.message || 'Ha ocurrido un error durante el registro.',
          icon: 'error',
        });
        this.$router.push('/error');
      }
    },
  },
};
</script>
