<template>
    <div class="container-d">
        <div class="hacker-card">
            <div class="navbar-a">
                <router-link to="/listaTarea" class="btn-lista1">Lista de Tareas</router-link>///
                <router-link to="/logout" class="btn-lista2">Cerrar Sesion</router-link>
            </div>
            <h1>Crear Nueva Tarea</h1>
            <form @submit.prevent="crearTarea">
            <div class="form-group">
                <label for="titulo">Título:</label><br>
                <input v-model="nuevaTarea.titulo" type="text" name="titulo" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label><br>
                <textarea v-model="nuevaTarea.descripcion" name="descripcion" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="completada">Completada:</label><br>
                <select v-model="nuevaTarea.completada" class="form-control" name="completada" id="completada">
                <option value="no" selected>No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="user">Usuario:</label><br>
                <select v-model="nuevaTarea.user" class="form-control" name="user">
                    <option value="">Selecciona un usuario</option>
                    <option v-for="usuario in usuarios" :key="usuario.id" :value="usuario.id">{{ usuario.username }}</option>
                </select>
            </div><br>
            <input type="submit" value="Crear Tarea" class="button">
            </form>
        </div>
    </div>
</template>

<style scoped>
.container-d {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    height: 100vh;
}
.btn-lista1{
    color: #0F0;
}
.btn-lista2{
    color: red;
}
.navbar-a{
    border: 1px solid #0F0;
    background-color: black;
    height: 7vh;
    width: 100%;
    padding: 8px;
}
.hacker-card {
    background-color: #222;
    padding: 20px;
    border: 4px solid #0F0;
    border-radius: 10px;
    width: 500px;
}
.hacker-card h1 {
    font-size: 40px;
    color: #0F0;
    padding: 10px;
    border-radius: 40px;
}
.form-group label {
    font-size: 18px;
    color: #0F0;
}
.form-control {
    background-color: black;
    border: 1px solid #0F0;
    color: #0F0;
}
.button {
    background-color: black;
    color: #0F0;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border: 2px solid #0F0;
}
</style>
  
<script>
import axios from 'axios';
import Swal from 'sweetalert2';


export default {
  data() {
    return {
      nuevaTarea: {
        titulo: '',
        descripcion: '',
        completada: 'no',
        user: '',
        fecha_creacion: ''
      },
      usuarios: [],
    };
  },
  methods: {
    async crearTarea() {
        console.log(this.nuevaTarea);
      try {
        const response = await axios.post('http://127.0.0.1:8000/api/registerTarea/', this.nuevaTarea);
        console.log(response.data);
        await Swal.fire({
          title: 'Éxito',
          text: response.data.message,
          icon: 'success',
        });
        this.$router.push('/listaTarea');
      } catch (error) {
        console.error(error);
        await Swal.fire({
          title: 'Error de autenticación',
          text: error.message || 'Ha ocurrido un error durante la creación de la tarea.',
          icon: 'error',
        });
      }
    },
  },
   mounted() {
    axios.get('http://127.0.0.1:8000/api/custom-user-lista/', this.nuevaTarea.asignado)
    .then(response=>{
        console.log(response.data);
        this.usuarios = response.data
    }).catch(error=>{
        console.error(error)
    });
  },
};
</script>