<template>
<div class="container-d">
    <div class="hacker-card">
    <h1>Lista de Tareas Completadas</h1>
    <div class="navbar">
        <router-link to="/tarea" class="btn-lista2">Agregar Tarea</router-link> /
        <router-link to="/listaTarea" class="btn-lista2">Lista Tarea</router-link> /
        <router-link to="/logout" class="btn-lista3">Cerrar Sesion</router-link>
    </div><br>
    <table id="tareas-list" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Completada</th>
            <th>Fecha de Creación</th>
            <th>Edi/Eli</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="tarea in tareas" :key="tarea.id">
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>
            <span class="completada">{{ tarea.completada }}</span>
            <button @click="completarTarea(tarea.id)" class="cambiar-completada hacker-buttons">❌</button>
            </td>
            <td>{{ tarea.fecha_creacion }}</td>
            <td>
            <router-link :to="'/tareaedit'" class="hacker-button btn-lista1">📝</router-link>
            <a @click="eliminarTarea(tarea.id)" class="hacker-button btn-lista2">❌</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</template>
    
<style scoped>
.table td{
border: 3px solid #0F0;
}
.container-d {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Courier New', monospace;
height: 100%;
width: 100%;
}

.hacker-card {
background-color: black;
padding: 20px;
border: 3px solid #0F0;
border-radius: 5px;
width: 100%;
height: 100%;
}

.hacker-card h1 {
font-size: 40px;
color: #0F0;
text-align: center;
margin: 10px 0;
}

.navbar {
justify-content: center;
border: 2px solid #0F0;
background-color: black;
padding:1px;
width: 100%;
height: 50px;
border-radius: 2px;
}

.hacker-button {
color: #0F0;
background-color: black;
text-decoration: none;
padding: 5px 10px;
border: 2px solid #0F0;
border-radius: 3px;
margin: 0 5px;
font-weight: bold;
cursor: pointer;
}
.hacker-buttons {
color: #0F0;
background-color: black;
text-decoration: none;
padding: 1px 3px;
border: 2px solid #0F0;
justify-content: center;
border-radius: 3px;
width: 30px;
height: 30px;
margin: 0 5px;
font-weight: bold;
cursor: pointer;
}

.btn-lista1 {
color: #0F0;
padding: 4px;
}
.btn-lista2 {
color: #0F0;
padding: 4px;
}

.btn-lista3 {
color: red;
}

.table {
width: 100%;
color: #0F0;
border: 3px solid #0F0;
}

.completada {
color: #0F0;
background-color: black;
}
b  
.cambiar-completada {
background-color: #0F0;
color: black;
padding: 5px 10px;
border: 1px solid #0F0;
border-radius: 3px;
font-weight: bold;
cursor: pointer;
}
</style>
  
<script>
import axios from 'axios';
import Swal from 'sweetalert2';
export default {
data() {
    return {
    tareas: [],
    token: "",
    idUser:"",
    };
},
created() {
this.cargarTareas();
},
methods: {
    cargarTareas() {
        this.token = localStorage.getItem('token')
        this.idUser = localStorage.getItem('idUser')
        axios.get('http://127.0.0.1:8000/apis/tareas/',{
        headers:{
            Authorization: "token " + this.token
        }
        })
        .then(response => {
            this.tareas=response.data.filter(tarea => tarea.completada === 'si');
            this.tareass=response.data.filter(tarea => tarea.user == this.idUser);
            console.log(this.tareas)
            console.log(this.tareass)
            
        })
        .catch(error => {
            console.error('Error al cargar tareas', error);
        });
    },
    completarTarea(tareaId) {
        this.token = localStorage.getItem('token');
        axios.patch(`http://127.0.0.1:8000/apis/tareas/${tareaId}/`, {
        completada: "no"
        }, {
        headers: {
            Authorization: "token " + this.token,
        }
        })
        .then(response => {
        Swal.fire({
            title: 'Éxito',
            text: response.message || 'tarea descompletada correctamente',
            icon: 'warning',
        });
            console.log(response.data)
            this.cargarTareas();
        })
        .catch(error => {
            console.error('Error al cambiar el estado de la tarea', error);
        });
    },
    eliminarTarea(tareaId) {
        this.token = localStorage.getItem('token');
        Swal.fire({
        title: '¿Estás seguro?',
        text: 'Esta acción eliminará la tarea de forma permanente.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                axios.delete(`http://127.0.0.1:8000/apis/tareas/${tareaId}/`, {
                headers: {
                    Authorization: "token " + this.token,
                }
                })
                .then(response => {
                    Swal.fire({
                    title: 'Éxito',
                    text: 'Tarea eliminada con éxito',
                    icon: 'success',
                    });
                    console.log(response.data);
                    this.cargarTareas();
                })
                .catch(error => {
                    console.error('Error al eliminar la tarea', error);
                });
            }
        });
    },
    }
};
</script>
    