<template>
    <div class="container-d">
      <div class="hacker-card">
        <h1>Lista de Usuarios</h1>
        <div class="navbar">
          <router-link to="/listaTarea" class="btn-lista2">Lista Tareas</router-link> /
          <router-link to="/logout" class="btn-lista3">Cerrar Sesion</router-link>
        </div><br>
        <table id="usuarios-list" class="table">
          <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="usuario in usuarios" :key="usuario.id">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</template>

<style scoped>
.table td{
border: 3px solid #0F0;
}
.container-d {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Courier New', monospace;
height: 100%;
width: 100%;
}

.hacker-card {
background-color: black;
padding: 20px;
border: 3px solid #0F0;
border-radius: 5px;
width: 100%;
height: 100%;
}

.hacker-card h1 {
font-size: 40px;
color: #0F0;
text-align: center;
margin: 10px 0;
}

.navbar {
justify-content: center;
border: 2px solid #0F0;
background-color: black;
padding:1px;
width: 100%;
height: 50px;
border-radius: 2px;
}

.hacker-button {
color: #0F0;
background-color: black;
text-decoration: none;
padding: 5px 10px;
border: 2px solid #0F0;
border-radius: 3px;
margin: 0 5px;
font-weight: bold;
cursor: pointer;
}
.hacker-buttons {
color: #0F0;
background-color: black;
text-decoration: none;
padding: 3px 6px;
border: 2px solid #0F0;
justify-content: center;
border-radius: 3px;
width: 30px;
height: 30px;
margin: 0 5px;
font-weight: bold;
cursor: pointer;
}

.btn-lista1 {
color: #0F0;
padding: 4px;
}
.btn-lista2 {
color: #0F0;
padding: 4px;
}

.btn-lista3 {
color: red;
}

.table {
width: 100%;
color: #0F0;
border: 3px solid #0F0;
}

.completada {
color: #0F0;
background-color: black;
}
b  
.cambiar-completada {
background-color: #0F0;
color: black;
padding: 5px 10px;
border: 2px solid #0F0;
border-radius: 3px;
font-weight: bold;
cursor: pointer;
}
</style>

<script>
import axios from 'axios';
export default {
data() {
    return {
    usuarios: [],
    token: "",
    };
},
created() {
this.cargarUsuarios();
},
methods: {
    cargarUsuarios() {
        this.token = localStorage.getItem('token')
        axios.get('http://127.0.0.1:8000/api/custom-user-lista/',{
        headers:{
            Authorization: "token " + this.token
        }
        })
        .then(response => {
            this.usuarios=response.data
            console.log(this.tareas)
            
        })
        .catch(error => {
            console.error('Error al cargar tareas', error);
        });
    },
}
};
</script>  